:root {
    --main-color: rgb(22,22,70);
    --main-color-alpha: rgba(22,22,70,0.85);
    --gradient-background: linear-gradient(0deg, #dedeff 0%, #eeeeff 90%);
}

button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active
 {
  border: 0px;
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}

html {
    min-height: 100%;
}


body {
    background: var(--gradient-background);
    background-repeat: no-repeat;
    font-size: 100%;
    color: var(--main-color);
}

.navbar-custom {
    background-color: var(--main-color-alpha);
}

.logotype {
    font-family: 'Nunito';
    font-weight: 600;
}

.header{
    font-family: 'Nunito';
    font-weight: 600;
    font-size: 1.4em;
}

.badge {
    font-family: 'Source Code Pro';
    font-size: 0.6em;
    background-color: var(--main-color-alpha);
}

.content {
  font-family: 'Nunito';
  margin: auto;
}

.fixed-bottom-group{
	position:sticky;
	bottom:0;
	left:0;
	right:0;	
	width:80%;
	margin:auto;
}

.input-group {
    border-radius: 30px;
}

input[type="text"] {
    background-color: rgba(255,255,255,0.55);
    backdrop-filter: blur(1px);
    border: 0px;
    border-radius: 30px;
}

.btn-custom {
    background-color: var(--main-color-alpha);
    border: 0px;
    border-radius: 0 30px 30px 0;
}

.card{
    background-color: rgba(255,255,255,0.5);
    border: 0px;
    border-radius: 10px;
}

.card:active,
.card:hover {
    background-color: rgba(255,255,255,0.9);
    border: 0px;
    border-radius: 10px;
}

.list-group-item,
.list-group-item .close-btn {
    background-color: rgba(0,0,0,0);
    color: var(--main-color);
}

.close-btn {
    font-size: 1em;
}

.card-body{
    font-size: 0.95em;
}