@font-face {
  font-family: 'Geomatrix';
  src: url('Geomatrix Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roundy';
    src: url('Roundo-Medium.otf');
}

.logotype {
    font-family: 'Geomatrix';
}

.header{
    font-family: 'Geomatrix';
    margin: 20px;
}

.content {
  font-family: 'Roundy';
  max-width: 500px;
  margin: auto;
}

.fixed-bottom-group{
	position:sticky;
	bottom:0;
	left:0;
	right:0;	
	width:80%;
	margin:auto;
	margin-top: 15px;
}