@font-face {
  font-family: 'Geomatrix';
  src: url('Geomatrix Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'Roundy';
    src: url('Roundo-Medium.otf');
}

button:hover,
button:focus,
button:active,
input:hover,
input:focus,
input:active
 {
  outline: none;
  box-shadow: none !important;
  -webkit-appearance: none;
}

html {
    min-height: 100%;
}


body {
    background: linear-gradient(0deg, #dedeff 0%, #eeeeff 90%);
    background-repeat: no-repeat;
    font-size: 100%;
    color: rgb(22,22,70);
}

.navbar-custom {
    background-color: rgba(22,22,70,0.85);
}

.logotype {
    font-family: 'Geomatrix';
}

.header{
    font-family: 'Geomatrix';
    font-size: 1.7em;
    margin: 20px;
}

.content {
  font-family: 'Roundy';
  margin: auto;
}

.fixed-bottom-group{
	position:sticky;
	bottom:0;
	left:0;
	right:0;	
	width:80%;
	margin:auto;
}

.input-group {
    border-radius: 30px;
}

input[type="text"] {
    background-color: rgba(255,255,255,0.75);
    backdrop-filter: blur(1px);
    border: 0px;
    border-radius: 30px;
}

.btn-custom {
    background-color: rgba(22,22,70,0.75);
    border: 0px;
    border-radius: 0 30px 30px 0;
}

.card{
    background-color: rgba(255,255,255,0.45);
    border: 0px;
    border-radius: 10px;
}

.list-group-item, .list-group-item .btn {
    background-color: rgba(0,0,0,0);
    color: rgb(22,22,70);
}

.card-body{
    font-size: 0.85em;
}